.table-wrapper {
    margin-top: 15px;
    border: 1px solid #ededed;
    border-radius: 5px;
    height: 520px;
    position: relative;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

thead {
    /* background: linear-gradient(to top right, #0d82ff, #50a5fa);
    color: white; */
    background-color: #f6f6f6;
}

th {
    font-weight: 600;
    position: relative;
}

th,
td {
    padding: 12px 16px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    border: 1px solid rgb(231, 231, 231);
}

tbody tr:hover {
    background-color: #d9ebfc;
    transition: 0.3s;
    cursor: pointer;
}

tbody tr:last-child td {
    border-bottom: none;
}

.selected-employee {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5PX 10px;
}

.selected-button-employee {
    display: flex;
    gap: 10px;
}

.saving-status {
    display: flex;
    align-items: center; /* Pusatkan teks dan ikon secara vertikal */
    justify-content: center; /* Pusatkan konten */
    gap: 5px; /* Beri jarak antara teks dan ikon */
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    gap: 10px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%); /* Ini akan benar-benar memusatkan elemen */
}

.pagination button {
    padding: 8px 12px;
    border: none;
    background-color: #0d82ff;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s;
}

.pagination button:disabled {
    background-color: #b0c4de;
    cursor: not-allowed;
}

.pagination span {
    font-weight: 600;
}

.pagination select {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
}

.items-per-page {
    margin-left: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.items-per-page span {
    font-weight: 500;
}

.filter-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%); /* Ini akan benar-benar memusatkan elemen */
    right: 12px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-left: 5px;
    display: flex;
    align-items: center;
}

.filter-btn:hover {
    color: #007bff;
}

th:nth-child(3) {
    width: 250px;
}

/* Responsif untuk tampilan mobile */
@media (max-width: 768px) {
    table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
}